body {
  background-color: #C6A9F7;
}

.container {
  width: 100px;
  padding: 150px;
  height: 284px;
}

.loading-img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 60px;
  transform: translate(-25%, -9%);
}

.loading-img p {
  letter-spacing: 1px;
  color: black;
  text-align: center;
  font-size: 12px;
  transform: translate(-18%, -9%);
}

#character {
  width: 30%;
  position: absolute;
  top: 20%;
  left: 50%;
  border: none;
  border-radius: 60px;
  transform: translate(-50%, -50%);
}

#level {
  position: absolute;
  top: 15%;
  left: 70%;
  border: solid 1px black;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 30px;
}

#userName {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bold;
  font-size: 30px;
}

#match {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  color: white;
  font-size: 15px;
}

table {
  width: 400px;
  border-collapse: collapse;
  border: none;
  table-layout: fixed;
}

th {
  Color: white;
}

th, td {
  border: none;
  background-color: #7B4E96;
}

.tabela {
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: -55px;
  padding: 30px;
  transform: translate(-5%);
}

.tabela-img {
  width: 50px;
  border-radius: 60px;
}

.elo {
  width: 25px;
  transform: translate(0%, -70%);
}

.container {
  display: none;
}

#level {
  display: none;
}